-- MySQL dump 10.13  Distrib 9.4.0, for Linux (x86_64)
--
-- Host: localhost    Database: budgetmyuni
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dorms`
--

DROP TABLE IF EXISTS `dorms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dorms` (
  `id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `address` varchar(255) NOT NULL,
  `lat` decimal(15,13) NOT NULL,
  `lng` decimal(15,13) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dorms`
--

LOCK TABLES `dorms` WRITE;
/*!40000 ALTER TABLE `dorms` DISABLE KEYS */;
INSERT INTO `dorms` VALUES (1,'PRISOJE','Prisoje 9 6000 Koper',45.5342673939068,13.7247612252277,160.00),(2,'CEBELNJAK','Ankaranska 7 6000 Koper',45.5453931765781,13.7409275847530,200.00),(3,'BARKA','Ferrarska 30 6000 Koper',45.5474042706641,13.7382708405725,200.00);
/*!40000 ALTER TABLE `dorms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food`
--

DROP TABLE IF EXISTS `food`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `ownerUserId` int DEFAULT NULL,
  `isPublic` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_food_owner` (`ownerUserId`,`isPublic`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food`
--

LOCK TABLES `food` WRITE;
/*!40000 ALTER TABLE `food` DISABLE KEYS */;
INSERT INTO `food` VALUES (1,'Boni Magic',4.50,NULL,0),(2,'Pizza',8.00,NULL,0),(3,'Home Cook (Cheap)',5.00,NULL,0),(4,'Home Cook (Expensive)',10.00,NULL,0),(5,'Noodles',2.00,NULL,0),(6,'Air and Monster',1.70,NULL,0),(7,'Poli Salami',1.00,NULL,0),(8,'12',44.00,NULL,0),(9,'asd',2.00,NULL,0),(10,'t',1.00,NULL,0),(11,'cookies',1.00,2,1),(12,'kebab',5.00,2,0),(13,'EtiansAss',1.00,10,0),(14,'uova pancetta',3.20,10,0),(15,'Magic boni kebab',2.50,10,1),(16,'salami',2.00,11,0);
/*!40000 ALTER TABLE `food` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_options`
--

DROP TABLE IF EXISTS `food_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_options`
--

LOCK TABLES `food_options` WRITE;
/*!40000 ALTER TABLE `food_options` DISABLE KEYS */;
INSERT INTO `food_options` VALUES (1,'Home cooked meal',5.00),(2,'Pizza delivery',10.00),(3,'Boni Magic',3.00);
/*!40000 ALTER TABLE `food_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `habits`
--

DROP TABLE IF EXISTS `habits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `habits` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `ownerUserId` int DEFAULT NULL,
  `isPublic` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_habits_owner` (`ownerUserId`,`isPublic`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `habits`
--

LOCK TABLES `habits` WRITE;
/*!40000 ALTER TABLE `habits` DISABLE KEYS */;
INSERT INTO `habits` VALUES (1,'Coffee',2.00,NULL,0),(2,'Smoking',5.00,NULL,0),(3,'Gym',10.00,NULL,0),(4,'licking',0.50,NULL,0),(5,'smoking (pack)',5.00,2,1),(6,'cano',2.00,2,0);
/*!40000 ALTER TABLE `habits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `studentId` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `budget` decimal(10,2) DEFAULT NULL,
  `foodPreferenceBreakfast` json DEFAULT NULL,
  `foodPreferenceLunch` json DEFAULT NULL,
  `foodPreferenceDinner` json DEFAULT NULL,
  `habits` json DEFAULT NULL,
  `expensesLifestyle` decimal(10,2) DEFAULT NULL,
  `universityFrequency` json DEFAULT NULL,
  `apartmentLocation` varchar(255) DEFAULT NULL,
  `apartmentPrice` decimal(10,2) DEFAULT NULL,
  `apartmentExpenses` decimal(10,2) DEFAULT NULL,
  `commuteTimeFoot` decimal(10,2) DEFAULT NULL,
  `expenseCommuteFoot` decimal(10,2) DEFAULT NULL,
  `commuteTimeBike` decimal(10,2) DEFAULT NULL,
  `expenseCommuteBike` decimal(10,2) DEFAULT NULL,
  `commuteTimePublic` decimal(10,2) DEFAULT NULL,
  `expenseCommutePublic` decimal(10,2) DEFAULT NULL,
  `totalSpending` decimal(10,2) DEFAULT NULL,
  `habitsFrequency` json DEFAULT NULL,
  `foodFrequency` json DEFAULT NULL,
  `savedPlaces` json DEFAULT NULL,
  `includeCommutePublic` tinyint(1) NOT NULL DEFAULT '1',
  `totalExpenses` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`studentId`),
  KEY `userId` (`userId`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tip_replies`
--

DROP TABLE IF EXISTS `tip_replies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tip_replies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipId` int NOT NULL,
  `userId` int NOT NULL,
  `body` text NOT NULL,
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `tipId` (`tipId`,`createdAt`),
  KEY `fk_tip_replies_user` (`userId`),
  CONSTRAINT `fk_tip_replies_tip` FOREIGN KEY (`tipId`) REFERENCES `tips` (`id`),
  CONSTRAINT `fk_tip_replies_user` FOREIGN KEY (`userId`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tip_replies`
--

LOCK TABLES `tip_replies` WRITE;
/*!40000 ALTER TABLE `tip_replies` DISABLE KEYS */;
INSERT INTO `tip_replies` VALUES (5,4,10,'mad bro','2025-08-09 18:37:01'),(6,5,2,'adfs','2025-08-10 07:44:27'),(7,5,2,'asdasdasd','2025-08-10 07:51:43'),(9,5,2,'asd','2025-08-10 08:00:54'),(10,4,2,'nice','2025-08-10 08:01:10');
/*!40000 ALTER TABLE `tip_replies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tip_votes`
--

DROP TABLE IF EXISTS `tip_votes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tip_votes` (
  `tipId` int NOT NULL,
  `userId` int NOT NULL,
  `vote` tinyint NOT NULL,
  PRIMARY KEY (`tipId`,`userId`),
  UNIQUE KEY `uniq_tip_user` (`tipId`,`userId`),
  KEY `fk_tip_votes_user` (`userId`),
  CONSTRAINT `fk_tip_votes_tip` FOREIGN KEY (`tipId`) REFERENCES `tips` (`id`),
  CONSTRAINT `fk_tip_votes_user` FOREIGN KEY (`userId`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tip_votes`
--

LOCK TABLES `tip_votes` WRITE;
/*!40000 ALTER TABLE `tip_votes` DISABLE KEYS */;
INSERT INTO `tip_votes` VALUES (4,2,-1),(4,7,1),(4,10,-1),(5,2,-1),(6,2,-1),(6,7,-1),(7,7,-1),(8,7,1);
/*!40000 ALTER TABLE `tip_votes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tips`
--

DROP TABLE IF EXISTS `tips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tips` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `title` varchar(160) NOT NULL,
  `body` text NOT NULL,
  `upvotes` int NOT NULL DEFAULT '0',
  `downvotes` int NOT NULL DEFAULT '0',
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `createdAt` (`createdAt`),
  KEY `userId` (`userId`),
  CONSTRAINT `fk_tips_user` FOREIGN KEY (`userId`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tips`
--

LOCK TABLES `tips` WRITE;
/*!40000 ALTER TABLE `tips` DISABLE KEYS */;
INSERT INTO `tips` VALUES (4,10,'burgers cheap','buy in eurospin, 3 euro',1,2,'2025-08-09 18:36:48','2025-08-10 10:58:15'),(5,2,'asdasdasda','adfgadfgadfd',0,1,'2025-08-10 07:44:13','2025-08-10 08:14:34'),(6,2,'ass','asd',0,2,'2025-08-10 08:14:27','2025-08-10 10:58:01'),(7,7,'asd','asd',0,1,'2025-08-10 08:25:26','2025-08-10 09:11:07'),(8,7,'asdasd','aaa',1,0,'2025-08-10 10:57:59','2025-08-10 10:58:00');
/*!40000 ALTER TABLE `tips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `university`
--

DROP TABLE IF EXISTS `university`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `university` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `lat` decimal(9,6) DEFAULT NULL,
  `lng` decimal(9,6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `university`
--

LOCK TABLES `university` WRITE;
/*!40000 ALTER TABLE `university` DISABLE KEYS */;
INSERT INTO `university` VALUES (1,'FAMNIT Koper','Glagoljaka ulica 8 6000 Koper',45.549244,13.727619),(2,'FHS Koper','Titov trg 5 6000 Koper',45.548234,13.729260),(3,'LIVADE Izola','Livade 6, 6310 Izola',45.531337,13.657869);
/*!40000 ALTER TABLE `university` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `nickname` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('student','admin','owner') NOT NULL DEFAULT 'student',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-10 11:53:28
